databases:
  - name: "FunFact DB"
    databaseName: funfacts 
    user: funfact-api
    region: oregon

services:
  - type: web
    name: FunFactAPI
    env: docker
    plan: free
    branch: main
    region: oregon
    envVars:
      - key: DB_URL
        fromDatabase:
          name: funfacts
          property: connectionString