databases:
  - name: "FunFact DB"
    databaseName: funfacts 
    user: funfactapi
    region: oregon
    plan: free

services:
  - type: web
    name: "FunFact API"
    env: docker
    plan: free
    branch: main
    region: oregon
    envVars:
      - key: DB_URL
        fromDatabase:
          name: funfacts
          property: connectionString